#card-form {
    display: grid;
    width: 400px;
    margin: 0 auto;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.75fr;
    gap: 5px;
}

#front-grid, #back-grid {
    display: grid;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    gap: 5px;
}

#front-grid {
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: 2fr 1fr;
}

#card-emoji {
    font-size: 2em;
    margin: 0;
    text-align: right;
}

#card-holder {
    grid-column-start: 1;
    grid-row-start: 3;
}

#card-expiration {
    grid-column: 2;
    grid-row-start: 3;
}

#month, #year {
    width: 30%;
    display: inline;
}

#back-grid {
    padding: 10px 0;
    z-index: -1;
    grid-column: 2 / -1;
    grid-row: 2 / -2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}
/* black strip */
#back-grid::before {
    content: '';
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: black;
}

#cvv {
    grid-column: -2 / -1;
    grid-row: 3 / 4;
    margin: 10px;
}

#cvc-cvv {
    width: 90%;
}

#submit-btn {
    grid-column: -2 / -1;
    grid-row: -2 / -1;
    box-shadow: 4px 4px 4px gray;
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 10px 0;
}