@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

h1 {
  font-family: "Amatic SC", sans-serif;
}

body {
  margin: 0 auto;
  padding: 0 1.5rem;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

img {
  width: 100%;
}

#logo {
  height: 80px;
  width: auto;
}

#title {
  font-size: 2.5rem;
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  width: 95%;
  margin: 0 auto;
}

.search-bar input {
  flex: 1 1 auto;
  border: none;
  font-size: 1rem;
}

.search-bar button,
.search-bar img {
  height: 1.75rem;
  background: none;
  border: none;
  padding: 0 0 0 2px;
}

.search-bar button {
  border-left: 2px solid lightgray;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px;
}

.recipe-img {
  width: 100%;
}

.recipe-item .tag {
  font-size: 0.9rem;
  margin-top: 3px;
  padding: 3px;
  background-color: #f3f3f3;
  border: 1.5px solid #bcbcbc;
  border-radius: 3px;
  width: fit-content;
}

.recipe-item .recipe-name {
  font-family: "Amatic SC", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.25rem 0;
  color: #1c99ff;
}

.recipe-item .description {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}

footer a {
  font-size: 0.7rem;
}

footer .social {
  display: flex;
  gap: 0.1em;
  justify-content: center;
}

.social img {
  width: 30px;
}

@media screen and (min-width: 600px) {
  #logo {
    height: 100px;
    width: auto;
  }

  #title {
    font-size: 3rem;
    margin: 0;
  }

  .search-bar {
    width: 98%;
  }

  .recipe-item {
    flex-direction: row;
    gap: 1.5rem;
  }

  .recipe-img {
    width: 40%;
    max-width: 250px;
  }

  .recipe-item .description {
    display: block;
    margin-top: 0.5rem;
    max-width: 400px;
  }

  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  footer a {
    font-size: 1rem;
  }
}
