body {
    background-color: #eeebeb;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid #888;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: #3c99dc;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #3c99dc;
    width: 80%;
}

h1, h2, p {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    margin: 50px auto;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 60%;
}

.list {
    list-style-type: none;
}