* {
    margin: 0;
}

#content {
    max-width: 480px;
    padding: 40px 140px;
    margin: 50px auto;
    border: 1px solid #d3d3d3;
}

header {
    text-align: center;
}

header h1 {
    margin: 15px;
    font-weight: 500;
    letter-spacing: 3px;
}

#univ-text {
    letter-spacing: 2px;
    color: #006eb6;
}

header hr {
    color: #d3d3d3;
    margin-top: 3px;
    margin-bottom: 22px;
}

main {
    line-height: 25px;
}

main p {
    padding: 8px 0px;
}

ol {
    padding-left: 30px;
}

li {
    padding: 8px 0px;
}

img {
    display: block;
    margin: 40px auto 0px;
    max-width: 25%;
}